body{
	background: url(../img/bg_index.png) repeat;
}
p{
	margin: 0;
}
img{
	vertical-align: top;
}
.banner{
}
.banner img{
	width: 100%;
}

.nav-bottom{
	position: fixed;
	bottom:0;
	width: 100%;
	display: -moz-box; 
    display: -webkit-box; 
    display: box; 
    background-color: #daccb1;
    border-top: 1px solid #b6aa7e;
    font-size: 15px;
    height: 44px;
    z-index: 9;
}
.nav-bottom span{
	display: block;
	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;
    text-align: center;
    color: #7b4c36;
    padding-top: 14px;
}
.nav-bottom .active{
	background-color: #e4dac7;
}

.btn-red{
	background: url(../img/bg_btn_red.png) repeat-x;
	background-size: 50%;
	width: 300px;
	height: 35px;
	border-radius: 5px;
	display: block;
	text-align: center;
	margin: 15px auto;
	color: #fff;
	padding-top: 15px;
}

/* 轮转 */
.swipe {
  overflow: hidden;

  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:300px;
  position: relative;
}

.slider { position: relative; width: 300px; height: 163px; z-index: 9;}
.slider .swipe-page {position: absolute; left:0; bottom: 10px;width: 300px; text-align: center; z-index: 99; }
.slider .swipe-page ul {padding: 0; margin: 0;}
.slider .swipe-page li { list-style: none; display: inline-block; width: 6px;height: 6px; vertical-align: middle; background-color: #b98459; padding: 2px; margin: 0 3px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.slider .swipe-page li.on { width: 10px;height: 10px; background-color: #ffd322; padding: 0; }
