/* 我的酱油*/ 
.mysoy{
	
}
.mysoy .title{
	clear: both;
	font-size: 15px;
	line-height: 30px;
	color: #5a5a5a;
	padding-left: 20px;
	/*background: url(../img/icon_cha.png) no-repeat 5px 0 #f8f8f4;
	background-size: 12px 28px;*/
	background: url(../img/bg_fw_title.png) no-repeat;
	background-size: 248px 28px;
	height: 30px;
}
.mysoy .get-soy{
	padding: 0px 0 0 0;
	margin-right:10px;
	display: -moz-box; 
    display: -webkit-box; 
    display: box; 
}
.mysoy .get-soy .soy-num{
	padding: 0 10px 10px 10px;
	width: 130px;
}
.mysoy .get-soy .soy-num img{
	width: 120px;
}
.mysoy .get-soy .soy-text{
	padding-top: 25px;
	color: #5a5a5a;
	font-size: 12px;
	line-height: 20px;
	
	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;
}
.mysoy .get-soy .get-action{
	padding-top: 10px;
}
.mysoy .get-soy .get-action span{
	display: inline-block;
	width: 65px;
	text-align: center;
	font-size: 12px;
	height: 30px;
	padding-top: 10px;
}
.mysoy .get-soy .get-action span.btn-again{
	background: url(../img/btn_gray.png) repeat-x;
	background-size: 50px;
	color: #7b4c36;
	border: 1px solid #ab9568;
	border-radius: 5px;
	margin-right: 5px;
}
.mysoy .get-soy .get-action span.btn-duihuan{
	color: #b0b1b2;
	background: #d3d3d3;
	border: 1px solid #bebbb6;
	border-radius: 5px;
}
.mysoy .get-soy .soy-action{
	clear: both;
}

/* user list */
.mysoy .user-list{
	padding: 10px  0 0 20px;
}
.mysoy .user-list .user-item{
	padding-bottom: 10px;
	color: #5a5a5a;
	line-height: 15px;
	font-size: 12px;
}
.mysoy .user-list .user-item img{
	width: 26px;
	height: 26px;
}
.mysoy .title span{
	display: inline-block;
}
.mysoy .title .title-right{
	float: right;
	text-align: right;
}
.mysoy .title .title-right a{
	color: #c53720;
	font-size: 12px;
	text-decoration: none;
}

/* story list */
.mysoy .story-list{
	padding: 10px  0 0 20px;
	margin-bottom: 10px;
}
.mysoy .story-list .story-item{
	padding-bottom: 10px;
	color: #5a5a5a;
	line-height: 15px;
	font-size: 12px;
	display: -moz-box; 
    display: -webkit-box; 
    display: box; 
}
.mysoy .story-list .story-item .avatar{
	width: 26px;
	margin-right: 10px;
}
.mysoy .story-list .story-item .avatar img{
	width: 26px;
	height: 26px;
}
.mysoy .story-list .story-item .stroy-detail{
	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;
    margin-right: 10px;
}
.mysoy .story-list .story-item .stroy-detail p:last-child{
	padding: 3px 2px;
	border: 1px solid #d3d0cd;
	background: #fafafa;
	color: #b5b0b0;
	line-height: 15px;
}
.mysoy .story-list .more-story{
	width: 146px;
	margin: 0 auto;
}
.mysoy .story-list .more-story .btn-more-story{
	width: 146px;
	height: 36px;
	background: url(../img/btn_more_story.png) no-repeat;
	background-size: 100%;
	display: block;
}


/* bk 酱油刻度 */
.mysoy .get-soy .soy-wrap { position: relative; padding-top: 20px; z-index: 9; }
.mysoy .get-soy .soy-ruler { display: none; position: absolute; left: 50px; top: 62px; display: block; height: 153px; z-index: 99; }
.mysoy .get-soy .soy-ruler span { font:nomal 12px/18px Arial; color: #03a574;}
.mysoy .get-soy .soy-ruler .soy-ruler-numT { position: absolute; left: -46px; top: -5px; text-align: center; z-index: 99;}
.mysoy .get-soy .soy-ruler .soy-ruler-numB { position: absolute; left: -26px; bottom: -6px; text-align: center; z-index: 99;}
.mysoy .get-soy .soy-ruler .soy-ruler-numNow { position: absolute; left: -50px; bottom:0px; width: 70px;text-align: center; z-index: 99;}
.mysoy .get-soy .soy-ruler .soy-ruler-numNow strong,
.mysoy .get-soy .soy-ruler .soy-ruler-numNow img  { display: inline-block; vertical-align: middle; font-weight: normal;}
.mysoy .get-soy .soy-ruler .soy-ruler-numNow strong {position: relative; left: -4px; width: 40px;}


.soy-num {width: 80px;}
.soy-num {width: 60px; overflow: hidden;}
body{padding-bottom: 50px;}


/* ta 的锋味故事 */
.mysoy .ta-feng-story  { }
.mysoy .ta-feng-story .p-head span { display: inline-block; vertical-align: bottom; }
.mysoy .ta-feng-story .p-head .avatar img { display: inline-block; width: 26px;height: 26px;  }
.mysoy .ta-feng-story .letter { background-color: #fff; border: 1px #c7c5c1 solid; padding: 5px 10px 20px ; margin-top: 10px;}
.mysoy .ta-feng-story .letter .letter-title { position: relative; margin: 5px 0 5px; z-index: 9;}
.mysoy .ta-feng-story .letter .letter-icon { position: absolute; right: 0;top: -3px; z-index: 99;}
.mysoy .ta-feng-story .letter .letter-icon img { display: inline-block; width: 40px;}
.mysoy .ta-feng-story .letter .letter-content {position: relative; z-index: 9;  }
.mysoy .ta-feng-story .letter .letter-content .span-open{position: absolute; right: 0px; bottom: 0; display: inline-block; width: 36px; height: 20px; color: #206aae; background-color: #fff; cursor: pointer;}


/* 活动分享 */
.mysoy .story-list{
	padding-bottom: 50px;
}
.hdfx {
	display: none;
	position: fixed;
	top: 0;
	z-index: 99;
}
.hdfx .hdfx-wrap{
	padding: 15px 0 0 0;
}

/* mysoy action 0816 */
.mysoy .re-mysoy-action {
	display: -moz-box; 
    display: -webkit-box; 
    display: box; 

}
.mysoy .re-mysoy-action span{

	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;

    font-size: 12px;
}
.mysoy .re-mysoy-action .btn-red{
	margin: 15px 10px;
	width: auto;
	min-width: 140px;
	height: 30px;
}
.mysoy .re-mysoy-action .btn-share-story {

}
.mysoy .re-mysoy-action .btn-btn-invit {

}

/* */
.ta-feng-story .letter .letter-title {
	display: none;
}

/* mysoy add du-num */
.mysoy .soy-num {
	position: relative;
}
.mysoy .soy-num .soy-du	{
	display: block;
	position: absolute;
	text-align: center;
	width: 60px;
	font-size: 12px;
	z-index: 10;
}