/* 活动规则 */
html,body { width: 100%; height: 100%;}
.hdfx{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}
.hdfx-wrap { width: 86%; font:normal 15px/20px '\5FAE\8F6F\96C5\9ED1'; padding:65px 0 0; margin: 0px auto 0}
.hdfx-wrap p { color: #fff; text-align: right; line-height: 1.6; }
.hdfx-wrap .p-text { margin: 10px 0;}
.hdfx-wrap p .c-green {color: #03a570 ;}
.hdfx-wrap p .btn-djgb { display: inline-block; width: 90px; height: 37px; text-align: right; background: url(../img/p2_btn_close.png) no-repeat 0 0; }
