/* 活动规则 */
.rule{

}
.rule .title{
	font-size: 15px;
	line-height: 30px;
	color: #5a5a5a;
	padding-left: 20px;
	background: url(../img/icon_cha.png) no-repeat 5px 0 #f8f8f4;
	background-size: 12px 28px;
	height: 30px;
}
.rule .rule-main{
	color: #5a5a5a;
	font-size: 12px;
	line-height: 18px;
	padding: 8px 0;
}
.rule .rule-main .rule-content{
	padding-bottom: 20px;
}
.rule .rule-main .rule-content p i{
	width: 14px;
	height: 14px;
	line-height: 14px;
	border-radius: 7px;
	background-color: #d2442d;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	vertical-align: top;
}
.rule .price{

}
.rule .price .user-list{
	padding: 8px 20px;
	font-size: 12px;
	line-height: 24px;
}
.rule .price .user-list span{
	display: inline-block;
	margin-right: 25px;
}

.rule .rule-wdgs .rule-content { padding-bottom:10px;}
.rule-wdgs { display: block; width: 295px; margin: 0 auto;}
.rule-wdgs-top { width: 255px; height:65px; background:url(../img/p2_icon_mailTop.png) no-repeat 0 0; margin: 0 auto;  }
.rule-wdgs-cont { width: 255px; background:url(../img/p2_icon_mailCont.png) repeat-y center 0; margin: 0 auto; }
.rule-wdgs-bottom { width: 255px; height:26px; background:url(../img/p2_icon_mailBottom.png) no-repeat 0 0;  margin: 0 auto; }
.rule-wdgs-cont p { width: 225px;  font-size: 12px; color: #c0c0c0; line-height: 2; padding: 4px 0px; margin: 0 auto;}
.rule-wdgs-cont p.h18 { height: 18px;}
.rule-wdgs-cont p strong { display: block; font:bold 14px/18px '\5FAE\8F6F\96C5\9ED1'; color: #5a5a5a; margin-bottom: 3px;}
.rule-wdgs-cont p.p-first {  }
.rule-wdgs-cont p.p-first strong {display: inline-block; }
.rule-wdgs-cont p.p-last {  text-align: right;  }
.rule-wdgs-cont p.p-last strong {display: inline-block; }
.rule-wdgs-cont p.p-last span {padding-right:20px;}
.rule-wdgs .rule-content { margin-top:10px;}
.rule-wdgs .rule-content p { line-height: 1.8}
.rule-wdgs .btn-bar { margin-top: 10px;}
.rule-wdgs .btn-bar .btn-ljfx { display: block; width:300px; height: 38px; background:url(../img/p2_btn_ljfx.png) no-repeat 0 0;   padding-bottom: 15px; }

.rule-wdgs .tip-story-input {
	width: 216px;
	min-height: 80px;
	margin: 0 auto;
}
.rule-wdgs-cont .h18 {
	display: none;
}
.rule-wdgs-cont .tip-from-input{
	width: 166px;
}
.rule-wdgs-cont p.p-last {
	text-align: left;
}
.rule-wdgs-cont .tip-from-text {
	display: none;
}