/* 活动规则 */
.rule{

}
.rule .title{
	font-size: 15px;
	line-height: 30px;
	color: #5a5a5a;
	padding-left: 20px;
	background: url(../img/icon_cha.png) no-repeat 5px 0 #f8f8f4;
	background-size: 12px 28px;
	height: 30px;
}
.rule .rule-main{
	color: #5a5a5a;
	font-size: 12px;
	line-height: 18px;
	padding: 8px 20px;
}
.rule .rule-main .rule-content{
	padding-bottom: 20px;
}
.rule .rule-main .rule-content p i{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #d2442d;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	vertical-align: top;
}
.rule .price{

}
.rule .price .user-list{
	padding: 8px 20px;
	font-size: 12px;
	line-height: 24px;
}
.rule .price .user-list span{
	display: inline-block;
	margin-right: 25px;
}
